<div class="container justify-content-center">
    <nav class="navbar">
        <NavLink href="/task/create">Create task</NavLink>
        <NavLink class="btn btn-primary" href="/auth/register">Register</NavLink>
        <NavLink class="btn btn-primary" href="/auth/login">Login</NavLink>
    </nav>
</div>
