<div class="container-fluid">
    <div class="outerRing" style="background:conic-gradient( #9d0000 120deg, #17171a 50deg )">
        <div class="timer">
            <div id="time">
                <span id="minutes">@DisplayCountdownTimer()</span>
            </div>
            <button id="stsp" @onclick="ToggleTimer">Start/Stop</button>

            <i class="fas fa-cog"></i>

        </div>
    </div>
</div>